*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}

.sky{
    background-image: url(img/background-nyc.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
}

.skyline{
    background-image: url(img/skyline.png);
    height: 50vh;
    width: 100%;
    background-position-x: center;
    background-repeat: cover;
    position: absolute;
    top: 40vh;
}

.track{
    background-image: url(img/track.png);
    height: 30vh;
    width: 700vw;
    background-repeat: repeat-x;
    position: absolute;
    top: 85vh;
    animation: carMove 8s linear infinite;
}

.car{
    background-image: url(img/car_body.png);
    background-size: 760px;
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 69vh;
    left: 20%;
    animation: shake .4s linear infinite;
}

.wheel1 img{
width: 150px;
position: absolute;
left: 88px;
top: 84px;
animation: wheelRotation 1s linear infinite;
}

.wheel2 img{
    width: 150px;
    position: absolute;
    left: 470px;
    top: 83.5px;
    animation: wheelRotation 1s linear infinite;
}

@keyframes wheelRotation{
    100%{transform: rotate(360deg);}
}

@keyframes carMove {
    100%{transform: translateX(-500vw);}
}

@keyframes shake{
    0%{
        transform: translateY(-4px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-4px);
    }
}

/* Media Queries */

/* extra small devices */
@media only screen and (max-width: 600px) {
    .car{
        background-size: 272px;
        top: 85vh;
    }
    .wheel1 img{
        width: 58px;
        left: 29.5px;
        top: 30px;
    }

    .wheel2 img{
        width: 58px;
        left: 166px;
        top: 30px;
    }

    .skyline{
        height: 42vh;
        width: 100%;
        background-position-x: center;
        background-repeat: cover;
        top: 45vh;
        position: absolute;
    }
}

/* screen width from 600px to 768px*/
@media only screen and (min-width: 600px) and (max-width: 768px){
    .car{
        background-size: 320px;
        top: 84vh;
    }
    .wheel1 img{
        width: 66px;
        left: 35.5px;
        top: 34px;
    }

    .wheel2 img{
        width: 68px;
        left: 197px;
        top: 35px;
    }

    .skyline{
        height: 42vh;
        width: 100%;
        background-position-x: center;
        background-repeat: cover;
        position: absolute;
        top: 45vh;
    }
}

/* screen width from 768px to 992px*/
@media only screen and (min-width: 768px) and (max-width:992px){
    .car{
        background-size: 412px;
        top: 80vh;
    }
    .wheel1 img{
        width: 88px;
        left: 44.5px;
        top: 42px;
    }

    .wheel2 img{
        width: 89px;
        left: 250px;
        top: 42px;
    }

    .skyline{
        height: 42vh;
        width: 100%;
        background-position-x: center;
        background-repeat: cover;
        position: absolute;
        top: 45vh;
    }
}